<h1>Merchants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <% if current_admin? %>
      <th>Active</th>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @merchants.each do |merchant| %>
      <tr id="merchant-<%= merchant.id %>">
        <td>
        <% if current_admin? %>
        <%= link_to merchant.name, merchant_path(merchant) %>
        <% else %>
        <%= merchant.name %>
        <% end %>
        </td>
        <% if current_admin? %>
        <td><%= merchant.active %></td>
        <td>
          <% if merchant.active %>
          <%= button_to "Disable", user_path(merchant), method: :patch, params: { toggle: :disable } %>
          <% else %>
          <%= button_to "Enable", user_path(merchant), method: :patch, params: { toggle: :enable } %>
          <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <th>Top Selling This Month</th>

  <tbody>
    <% @top_sellers.each_with_index do |merchant, index| %>
      <tr id="merchant-selling-rank-<%= index+1 %>">
        <td>
        <% if current_admin? %>
        #<%= index+1 %>: <%= link_to merchant.name, merchant_path(merchant) %>
        <% else %>

        #<%= index+1 %>: <%= merchant.name %>
        <% end %>
        </td>
      </tr>
    <% end %>

    <th>Top Fulfillers this month</th>
    <% @top_fulfillers.each_with_index do |merchant, index| %>
      <tr id="merchant-fulfilling-rank-<%= index+1 %>">
        <td>
        <% if current_admin? %>
        #<%= index+1 %>: <%= link_to merchant.name, merchant_path(merchant) %>
        <% else %>

        #<%= index+1 %>: <%= merchant.name %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>
